body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  width: 500;
  height: 500;
  border: 1px solid #93EBFC;
}

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #93EBFC;
}